
<div class="container-fuild">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3 header-inner">
                <a href="#"><img src="images/logo.png" alt=""></a>
            </div>
        </div>
        <div class="col-md-12">
            <nav class="navbar navbar-default nav2" role="navigation">
                <div class="collapse navbar-collapse" id="navbar-brand-centered">
                    <ul class="nav navbar-nav nav3">
                        <li><a href="#">HOME</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADDRESS</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Bien</a></li>
                                <li><a href="#">Doi nui</a></li>
                                <li><a href="#">Dong Bang</a></li>
                            </ul>
                        </li>
                        <li><a href="#">SERVICES</a></li>
                        <li><a href="#">DOCUMENTATION</a></li>
                    </ul>
                </div>
            </nav>
            <%= render 'slider_top' %>
            
        </div>
        <div class="col-md-12">
            <div class="col-md-9 fix-padding">
                <div class="row">
                    <div class="col-md-12">
                                <!--
								most view
                            -->
                            <%= render 'most_view' %>
                            <%= render 'address' %>
                            
                            <div id="address-list">
                                dfgdfg
                            </div>
                            <%= render 'recent' %>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 fix-padding">
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span id="search_concept"></span><span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#contains">Ha Noi</a></li>
                                    <li><a href="#its_equal">Hai Phong</a></li>
                                    <li><a href="#greather_than">Bac Giang</a></li>
                                    <li><a href="#less_than">Thai Nguyen</a></li>
                                </ul>
                            </div>
                            <input type="hidden" name="search_param" value="all" id="search_param">         
                            <input type="text" class="form-control" name="x" placeholder="Search term...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 facebook fix-padding">
                        <h5><b class="bottom_b">FACEBOOK</b></h5>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs&width=255&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=334879800309797" width="255" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>
                    <div class="col-md-12 fix-padding random_post_content">
                        <%= render "top_user" %>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

