
<%= form_for [@micropost, @new_comment], remote: true do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.text_field :comment, class: 'form-control',placeholder: "Title" %>
	<%= f.text_field :user_id, class: 'form-control',value: @user.id %>
	<%= f.text_field :micropost_id, class: 'form-control',value: @micropost.id %>
	<button type="submit" class="btn btn-primary">Submit</button>
<% end %>