<!-- 
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
 -->

<body style="background: url(images/background/8.jpg)">
    <div class="container-fuild">
        
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 header-inner">
                    <a href="#"><img src="images/logo.png" alt=""></a>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row profile">
                    <%= render 'shared/avatar' %>
                    <div class="col-sm-9">
                        <div class="tabs widget">
                        <%= render 'tab_name_show' %>
                            <div class="tab-content">

                                <%= render 'info' %>

                                <%= render 'created_article' %>
                                 

                                <%= render 'new_post' %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</div>

</body> 
